table.pronunciation {
    border-collapse: collapse;
    width: 100%;
}

table.pronunciation th,
table.pronunciation td {
    border: 1px solid #ccc;
    padding: 10px;
    vertical-align: middle;
}

table.pronunciation th {
    text-align: left;
    font-weight: bold;


}

table.pronunciation audio {
    width: 140px;
}


